.btn > i {
    margin-right: 0;
}

#tituloAdmin{
    font-size:15px;
}

.fila{
    margin:0px;
}

.card .cuerpo{
    margin:0px;
    padding: 10px 0px;
}

.container{
    padding: 0px;
}

.card{
    margin-bottom: 0px;
}

.card .card-header {
   
    padding: 20px 5px;
    
}

.textoAdmin{
    font-family: 'Poppins', sans-serif; 
}

.botonCu{
    padding: 5px;
}